[submodule "installer/puppet/modules/mysql"]
	path = installer/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "nodejs"]
	path = installer/puppet/modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs
[submodule "installer/puppet/modules/stdlib"]
	path = installer/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
